/LAB01/build/
/CandidatesManagement/build/
/StudentManagement/nbproject/private/
/StudentManagement/build/
/FruitManagement/nbproject/private/
/FruitManagement/build/
/TextManagement/nbproject/private/
/TextManagement/build/
/CaculateEquation/nbproject/private/
/CaculateEquation/build/
/GeographicManagement/nbproject/private/
/GeographicManagement/build/
/ContractManagement/nbproject/private/
/ContactManagement/nbproject/private/
/ContactManagement/build/
/DoctorManagement/nbproject/private/
/DoctorManagement/build/
